/* Reusable UI components like buttons, cards, forms */

.header {
  display: flex;
  padding: 4rem 8rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3.2rem;
}

.hamburger-icon {
  display: none;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.main-nav-item {
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.main-nav-item:link,
.main-nav-item:visited {
  color: #0d0d0d;
}

.main-nav-item:hover,
.main-nav-item:active {
  color: #6f6f6f;
}

.main-nav .cta:link,
.cta:visited {
  display: inline-block;
  font-weight: 500;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  background-color: #0d0d0d;
  color: #ffffff !important;
}

.main-nav .cta:hover,
.cta:active {
  display: inline-block;
  font-weight: 500;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: #ffffff !important;
}

.nav-cta-mobile {
  display: none;
}

.hero-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input label {
  font-size: 1.3rem;
}

.input input {
  padding: 1.2rem;
  background-color: #f6f6f6;
  border: none;
  border-radius: 8px;
}

.input input[name="region"] {
  padding-left: 4rem;
  background-color: #f6f6f6;
  background-image: url(../Images/location.svg);
  background-position: 0.8rem 0.8rem;
  background-repeat: no-repeat;
  background-size: 2.4rem;
}

.input input[name="dates"] {
  padding-left: 4rem;
  background-color: #f6f6f6;
  background-image: url(../Images/calendar.svg);
  background-position: 0.8rem 0.8rem;
  background-repeat: no-repeat;
  background-size: 2.4rem;
}

.input input[name="guests"] {
  padding-left: 4rem;
  background-color: #f6f6f6;
  background-image: url(../Images/person.svg);
  background-position: 0.8rem 0.8rem;
  background-repeat: no-repeat;
  background-size: 2.4rem;
}
.filter-container {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 2rem;
  white-space: nowrap;
}

.filter-container span {
  font-size: 1.4rem;
}

.filters {
  display: flex;
  gap: 0.4rem;
  overflow-x: auto;
  scrollbar-width: none;
}
.filter {
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  border: none;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background 0.3s;
}

.filter:hover {
  border: 1px solid #0d0d0d;
}

.filter.selected {
  background: #0d0d0d;
  color: white;
  border: 1px solid #0d0d0d;
}
.view-all {
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.explore {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.btn-primary {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 0.8rem;
  font-weight: 500;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  background-color: #0d0d0d;
  color: #ffffff !important;
}

.btn-primary:hover {
  cursor: pointer;
}

.view-all:link,
.view-all:visited {
  display: flex;
  align-content: center;
  gap: 0.4rem;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #0d0d0d;
  font-weight: 500;
  padding-bottom: 1px;
}

.view-all:hover,
.view-all:active {
  color: #1e1e1e;
  border-bottom: 1px solid #6f6f6f;
  padding-bottom: 0;
}

.trip-card-container {
  grid-column: 1/-1;
  display: flex;
  gap: 2.4rem;
  width: 100%;
  margin: 20px auto;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0.4rem 0;
}

.trip-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 30rem;
}

.trip-thumbnail-box {
  aspect-ratio: 1 / 1; /* Ensures the boxes remain square */
  background-color: lightgray;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 8px;
  background-color: hsla(0, 0%, 96%, 0.9);
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 2;
  transition: all 0.2s;
}

.like:hover {
  background-color: hsla(0, 0%, 96%, 1);
  cursor: pointer;
}

.trip-thumbnail-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  padding: 0 1.2rem;
  width: 100%;
  z-index: 3;
}

.trip-thumbnail-bottom-box .filter {
}

.carousel-dots {
  display: flex;
  gap: 0.8rem;
}

.carousel-dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: hsl(0, 0%, 100%);
  border: 0;
  border-radius: 50%;
}

.carousel-dot:nth-child(1) {
  background-color: hsla(0, 0%, 100%, 1);
}

.carousel-dot:nth-child(2) {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.carousel-dot:nth-child(3) {
  background-color: hsla(0, 0%, 100%, 0.6);
}

.carousel-dot:nth-child(4) {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.carousel-dot:hover {
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.trip-card-content {
  padding: 0 1.2rem;
}

.trip-card-title {
  font-family: "Kepler";
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.trip-card-description {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #6f6f6f;
  margin-bottom: 1.2rem;
}

.trip-card-pricing-box {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.trip-card-pricing {
  font-size: 1.3rem;
  color: #6f6f6f;
}

.trip-card-pricing span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #0d0d0d;
}

.trip-card-rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}
