/* Unique styles for each page: Home, About, etc. Sections*/

.section-hero {
  max-width: 180rem;
  height: 84rem;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../Images/hero-background.jpg);
  background-size: cover;
  border-radius: 16px;
  position: relative;
}

.hero-text-box {
  color: #ffffff;
  width: 40%;
  padding-left: 4rem;
}

.hero-text {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 300;
}

.hero-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
}

.hero-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
}

.section-usps {
  border-bottom: solid 1px #f6f6f6;
}

.usp-scenery,
.usp-villages,
.usp-activities {
  display: flex;
  gap: 2.4rem;
}

.usp-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.usp-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1;
}

.usp-description {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.usp-icon {
  width: 4.4rem;
  height: 4.4rem;
  align-self: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  grid-column: 1/-1;
}

.featured-heading {
  grid-column: 1/-1;
}

.section-featured .filters {
  grid-column: 1/-1;
}

.section-featured {
  overflow: hidden;
}

.section-featured .filters {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.explore-grid {
  grid-template-columns: 5fr 4fr 3fr;
  max-width: 144rem;
  margin: 0 auto 4rem auto;
}

.explore-description {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.explore-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #6f6f6f;
}

.explore-main-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.local-guides-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.guides-list {
  grid-template-columns: 1fr 1fr;
  row-gap: 1.2rem;
  column-gap: 2.4rem;
}

.guide-list-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.guide-list-item-photo {
  height: 4rem;
  width: 4rem;
  background-color: #f6f6f6;
  border-radius: 8px;
}

.guide-list-item-name {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #0d0d0d !important;
}

.locations-list {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.location-list-item {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.location-list-item-name {
  font-size: 1.4rem;
  color: #6f6f6f;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.activities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.2rem;
  column-gap: 2.4rem;
}

.activities-list-item {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.activities-list-item-name {
  font-size: 1.4rem;
  color: #6f6f6f;
}

.region-gallery {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.region-gallery-thumbnail {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    8deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 33%
  );
}

.view-gallery {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff !important;
  font-size: 1.6rem;
  line-height: 1.9rem;
  z-index: 10;
  padding: 1.2rem;
}

.explore-aside-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.region-unique {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.region-usp {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.region-usp-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.region-usp p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #6f6f6f;
}

.region-usp-title {
  color: #0d0d0d !important;
  font-weight: 500;
}

.guides-heading {
  margin-bottom: 1.6rem;
}

/*********************
     TESTIMONIALS
*********************/

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-self: start;
  min-width: 32rem;
  gap: 2rem;
  background-color: #f6f6f6;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 2rem;
  border-radius: 8px;
  flex: 1;
}

.testimonial-rating {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonial-title {
  font-weight: 500;
}

.testimonial-text {
  color: #6f6f6f;
}

.testimonial-client {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.guide-list-item p {
  color: #6f6f6f;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.testimonial-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*********************
        BLOG
*********************/

.section-blog li {
  list-style: none;
}

.blog-article-container {
  display: flex;
  gap: 2.4rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 4rem 0;
}

.blog-article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 30rem;
}

.article-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.article-image {
  width: 100%;
  border-radius: 8px;
}

.article-description {
  font-size: 1.4rem;
  line-height: 1.9rem;
}

/*********************
        FOOTER
*********************/

footer {
  background-color: #f6f6f6;
  padding: 6rem 0;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 144rem;
  gap: 4rem;
  margin: 0 auto;
}

.footer-container {
  grid-template-columns: repeat(4, 1fr);
  max-width: 144rem;
  margin: 4rem auto;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

footer li {
  list-style: none;
}

.footer-logo {
  height: 3.2rem;
  opacity: 0.6;
}

.footer-container a {
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;
}

.footer-container li {
  list-style: none;
}

.footer-container li a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6f6f6f;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.2rem;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.2rem;
}

.footer-utility {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: #6f6f6f;
  max-width: 144rem;
  margin: 0 auto;
}

.footer-utility ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer-utility li {
  list-style: none;
}

.footer-utility a {
  color: #6f6f6f;
}

.footer-utility li::after {
  content: "|";
  color: #6f6f6f;
  margin-left: 1.2rem;
}

.footer-utility li:last-child::after {
  content: "";
}
