/* All media queries for responsiveness */

@media (max-width: 120em) {
  .section-hero {
    margin: 0 8rem;
  }
}

@media (max-width: 100em) {
  .container--large {
    padding: 6 0rem;
    margin: 0 8rem;
  }

  .container--medium {
    padding: 4 0rem;
    margin: 0 8rem;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 60%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .section-hero {
    margin: 0 4rem;
    height: 72rem;
  }

  .header {
    padding: 4rem 3.2rem;
  }

  .container--large {
    padding: 4rem 0;
    margin: 0 4rem;
  }

  .container--medium {
    padding: 4rem 0;
    margin: 0 4rem;
  }

  .explore-grid {
    margin: 0 4rem;
  }

  .hero-text-box {
    width: 50%;
  }

  footer {
    padding: 6rem 4rem;
  }
}

@media (max-width: 82em) {
  .section-featured .container--medium {
    margin: 0 0 0 4rem;
  }
  .section-guides .container--medium {
    margin: 0 0 0 4rem;
  }

  .trip-card-container {
    margin: 4rem 0 0 0;
  }
  .guide-card-container {
    margin: 4rem 0 0 0;
  }

  .section-featured .filters,
  .section-explore .filters {
    margin: 0 4rem 0 0;
    padding: 0;
    flex-wrap: nowrap;
  }

  .featured-heading {
    margin: 0 4rem 0 0;
    flex-wrap: nowrap;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }

  .header {
    justify-content: space-between;
  }

  .heading-primary {
    font-size: 4.8rem;
    line-height: 5.4rem;
  }

  .heading-secondary {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .usps-heading {
    grid-column: 1 / -1;
  }

  .section-hero {
    margin: 0 4rem;
    height: 60rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
  }

  .hamburger-icon {
    display: inline-block;
  }

  .main-nav {
    display: none;
  }

  .hero-text-box {
    width: 80%;
  }

  .nav-cta-mobile {
    display: inline-block;
    font-size: 1.8rem;
  }

  .trip-card-container {
    padding: 0 4rem 0 0;
  }

  .guide-card-container {
    padding: 0 4rem 0 0;
  }

  .explore-grid {
    grid-template-columns: 2fr 1fr;
  }

  .explore-map-box {
    display: none;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 55%;
  }

  .hero-text-box {
    padding: 0;
    width: 100%;
  }

  .header {
    padding: 2.4rem 4rem;
  }

  .section-hero {
    margin: 0;
    border-radius: 0;
    height: 72rem;
  }

  .hero-form {
    grid-template-columns: 1fr;
  }

  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .input input {
    padding: 2rem 1.2rem;
    background-position: 0.8rem 1.6rem !important;
  }

  .section-hero .filters {
    display: none;
  }
  .view-all {
    margin-left: 2rem;
    min-width: 16rem;
  }

  .explore-grid {
    grid-template-columns: 1fr;
  }

  .activities-list {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
  }

  .footer-header {
    flex-direction: column;
  }

  .footer-utility {
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;
  }

  .footer-utility ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
